<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF8"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n" />
		</Console>
		<RollingFile name="ErrorFile" fileName="logs/startups.log"
			filePattern="logs/startups_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="org.thymeleaf" level="INFO" additivity="false">
			<AppenderRef ref="Console" />
		</logger>
		<logger name="com.zx" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" />
		</logger>
		<Root level="all">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ErrorFile" />
		</Root>
	</Loggers>
</Configuration>