<th:block th:fragment="paging" >
	<th:block  th:if="${not #lists.isEmpty(pageList)}" th:each="record: ${pageList}">
		<tr>
		    <td class="left-width">
		        	<div class="left-spacing left-color" th:text="${record.tradeCname}"></div>
		        	<div class="left-spacing"  th:text="${record.tradeVarieties}"></div>
		    </td>
		    <td>
		        <div class="left-spacing middle-line" >
		        </div>
		    </td>
		    <td align="center" class="right-width" style="position:relative">
		        <div  class="right-spacing right-top-spacing" th:text="${record.tradePriceStr}+'元/' +${record.tradeUnit}"></div>
		        <div  class="right-spacing"  th:text="${record.tradeAmount}+${record.tradeUnit}"></div>
		        <div  class="right-spacing"  th:text="${record.tradeMarketValue}+'万'"></div>
		        <div th:if="${record.tradeFlag=='已成交'}" class="img"></div>
		    </td>
		</tr>
		<tr>
			   <td colspan="4" >
			         <div class="line" ></div>
			   </td>
		</tr>
	</th:block>
</th:block>

